node_modules
build

.cache
.env
.npmrc
.continue
.old
.vscode
.agents
.local

packages/cli/binaries/
packages/cli/dist/
packages/cli/sea-prep.blob

.pnpm-store

*.tsbuildinfo

styled-system

test-results
playwright-report